################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.suo
*.db
*.opendb
/src/.vs/cppAlgps/v15
*.user
/.vs/cppAlgos/v15/ipch
/src/.vs/cpp01/v15/ipch
/src/Debug
*.sqlite
/src/Release/cpp01.log
/.vs/ProjectSettings.json
